# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
*.env
*.venv
*.virtualenv

# Django-specific files
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db

# Django Migrations
**/migrations/*
!**/migrations/__init__.py

# Media and Static Files
media/
staticfiles/
static/
*.svg
*.png
*.jpg
*.jpeg
*.gif

# Environment Variables and Secrets
.env
*.env
*.key

# IDE Specific Files (VSCode, PyCharm)
.vscode/
.idea/
*.iml

# Build/Cache Files
*.cache
*.mo
*.egg
*.egg-info/
dist/
build/
*.bak
*.swp
*.orig

# Database and Docker
*.sqlite3
*.db
docker-compose.override.yml